#filelistview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .filelist-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50%;
    }
}

@media (min-width: 700px) {
    .filelist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        min-height: 50%;
    }
}

.filelist-container-title {
    font-size: 28px;
    font-weight: bold;
}

.filelist-item {
    width: 90%;
    margin-left: 5%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}



@media (max-width: 700px) {
    .download-files-item-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 10%;
        margin-left: 8px;
    }

    .download-files-item-left img {
        width: 20px;
        height: 20px;
    }

    .download-files-item-name {
        margin-left: 8px;
        width: 60%;
    }
    
    .download-files-item-btn {
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }
}

@media (min-width: 700px) {
    .download-files-item-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 10%;
        margin-left: 8px;
    }

    .download-files-item-left img {
        width: 36px;
        height: 36px;
    }

    .download-files-item-name {
        margin-left: 16px;
        width: 60%;
    }
    
    .download-files-item-btn {
        display: flex;
        justify-content: flex-end;
        width: 20%;
    }
}

.download-files-btn-download {
    padding: 4px 4px;
    color: white;
    background: #1ab20a;
    border-radius: 4px;
}

.download-files-btn-downloading {
    padding: 4px 4px;
    color: white;
    background: gray;
    border-radius: 4px;
}

.zip-download-row {
    width: 90%;
    margin-top: 40px;
    display:  flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.zip-download-btn {
    padding: 8px 16px;
    border-radius: 4px;
    background: #3596ff;
    color: white;
    font-size: 16px;
    border: 0px;
}

.zip-downloading-btn {
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #3596ff;
    color: #3596ff;
    font-size: 16px;
    border: 0px;
}

.download-files-item-name p {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}