@media (max-width: 700px) {
    .home-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .intro-title {
        margin-bottom: -8px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .intro-subtitle {
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 20px;
    }

    .buttons-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 12px;
    }

    .main-upload-buttons {
        font-size: 20px;
        width: 100%;
        text-align: center;
        background: rgb(64, 169, 255);
        padding: 10px 40px 10px;
        border-radius: 30px;
        color: white !important;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-top: 8px;
    }

    .main-download-buttons {
        font-size: 20px;
        width: 100%;
        text-align: center;
        color: rgb(64, 169, 255) !important;
        padding: 10px 40px 10px;
        border-radius: 30px;
        background-color: white !important;
        border: 1px solid rgb(64, 169, 255);
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-top: 8px;
    }

    .name {
        display: none;
    }
}

@media (min-width: 700px) {
    .home-container {
        width: 600px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .intro-title {
        margin-bottom: -8px;
        font-size: 35px;
        font-weight: bold;
        max-width: 90%;
        height: 50%;
    }

    .intro-sub {
        width: 100%;
        height: 50%;
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    
    .intro-subtitle {
        width: 50%;
        margin-bottom: 0;
        font-size: 20px;
        max-width: 90%;
    }

    .buttons-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .main-upload-buttons {
        font-size: 20px;
        width: 70%;
        text-align: center;
        background: rgb(64, 169, 255);
        padding: 10px 40px 10px;
        border-radius: 30px;
        color: white !important;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 8px;
        outline: 2px;
        border: 1px solid rgb(64, 169, 255);
    }

    .main-download-buttons {
        font-size: 20px;
        width: 70%;
        text-align: center;
        color: rgb(64, 169, 255) !important;
        padding: 10px 40px 10px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid rgb(64, 169, 255);
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-top: 8px;
        outline: 2px;
    }
}

.main-download-buttons:hover {
    background-color: rgb(64, 169, 255);
    border: none;
    color: white !important;
}
.main-upload-buttons:hover {
    background-color: white;
    border: none;
    color: rgb(64, 169, 255) !important;
    border: 1px solid rgb(64, 169, 255);
}