@media (max-width: 700px) {
    .out-container {
        width: 90%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 700px) {
    .out-container {
        width: 600px;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.container p {
    margin-bottom: 0.5em;
}

.recode-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.alert {
    width: 160px;
    margin-top: 8px;
}

.recode-top-hint, .setting-top-hint {
    font-size: 32px;
    font-weight: 800;
}

.recode-input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recode-input-row a {
    align-self: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: #3596ff
}

.recode-box {
    width: 160px;
    margin-left: 36px;
    padding: 4px 20px 4px 20px;
    border: 1px solid #cccccc;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 800;
    color: #cd365f;
    text-align: center;
}

.more-setting-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
}

.setting-title {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 700;
}

.setting-password-input, .setting-download-count-input {
    width: 80%;
    border:0;
    border-bottom:1px solid #ccc;
    outline: none;
    font-size: 18px;
}

.setting-back-btn {
    margin-top: 14px;
    height: 40px;
    width: 80%;
    border: 1px solid #3596ff;
    border-radius: 8px;
    color: #3596ff;
}

.setting-confirm-btn {
    margin-top: 8px;
    height: 40px;
    width: 80%;
    border: 0;
    border-radius: 8px;
    background: #3596ff;
    color: white;
}

.download-count-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: flex-start;
    margin-left: 10%;
}

.download-count-btn {
    width: 80px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #1ab20a;
    border-radius: 4px;

}

.selected {
    color: white;
    background: #1ab20a;    
}